version: "3.5"

services:
  api:
    container_name: mensagens.api
    image: node:16
    volumes:
      - ./api/docker/startup.sh:/startup.sh
      - ./api/:/app
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - 8080:8080
    working_dir: /app
    entrypoint:
      - "/startup.sh"
    networks:
      - app-mensagens-network

  mongo-db:
    container_name: mensagens.db
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: mensagens-db
    ports:
      - 27017:27017
    networks:
      - app-mensagens-network
    volumes:
      - ./mongodb/data:/data/db
      - ./mongodb/docker-entrypoint-initdb.d/:/docker-entrypoint-initdb.d/

  mongo-express:
    container_name: mensagens.mongo-express
    restart: always
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_MONGODB_URL: mongodb://root:root@mensagens.db
    networks:
      - app-mensagens-network
    depends_on:
      - mongo-db

networks:
  app-mensagens-network:
    driver: "bridge"
    name: app-mensagens-network
